.DefaultBasicElement {
    width: calc(100% - 10px);
    padding: 5px;
    height: 40px;
    border-radius: 4px;
    color: #282725;
    text-overflow: ellipsis;
}

.ItemFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.Content {
    padding-left: 2px;
    padding-right: 2px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-overflow: ellipsis;
    height: 100%;
    color: white;
    text-shadow: 1px 1px 0 #000;
}

.Line1 {
    font-style: bold;
    font-size: 14px;
    overflow-y: hidden;
    overflow-x: hidden;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 10px;
}

.Line2 {
    font-size: 10px;
}

.ImagesWrapper {
    width: 35px;

}

.Images {
    width: 100%;
}